[submodule "dep/cmake-cargo"]
	path = dep/cmake-cargo
	url = https://github.com/AndrewGaspar/cmake-cargo.git
[submodule "dep/rusctp"]
	path = dep/rusctp
	url = git@github.com:masa-koz/rusctp.git
	branch = kozuka_add_ffi
[submodule "dep/libev"]
	path = dep/libev
	url = git@github.com:masa-koz/libev.git
